main {
    margin: auto;
    width: 345px;
    height: 540px;
}

h1 {
    font-size: 16px;
    text-align: center;
    color: #817D92;
    margin-bottom: 16px;
    
}

.display-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 60px;
    padding: 18px;
    background-color: #24232C;
    overflow: hidden;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 18px;
}


.password {
    background-color: #24232C;
    color: white;
    border: none;
    width: 80%;
    outline: none;
    font-size: 35px;
    font-weight: 700;
    font-family: inherit;
}

.copied {
    color: #A4FFAF;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.display-length {
    font-size: 20px;
    font-weight: 800;
}

i{
    cursor: pointer;
}

i,
.display-length {
    color: #A4FFAF;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    margin: 10px 0;
    margin-bottom: 30px;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: rgb(180, 233, 180); /* Change to green */
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #E6E5EA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgb(171, 207, 171); /* Change to green */
    border-radius: 5px;
  }
  
  input[type="range"]::-moz-range-thumb {
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #E6E5EA;
    cursor: pointer;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type="range"]::-ms-fill-lower {
    background: rgb(0, 0, 0); /* Change to green */
    border-radius: 5px;
  }
  
  input[type="range"]::-ms-fill-upper {
    background: green; /* Change to green */
    border-radius: 5px;
  }
  
  input[type="range"]::-ms-thumb {
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #E6E5EA;
    cursor: pointer;
    margin-top: 0px;
  }
form {
    padding: 18px;
    background-color: #24232C;
}


.range-label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.password-type-wrapper {
    margin-bottom: 14px;
    display: flex;
    align-items: center;

}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border: 2px solid #D8D8D8;
    cursor: pointer;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

input[type="checkbox"]::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 1000;
    content: "\f00c";
    font-size: 12px;
    color: #18171F;
    display: none;
}
input[type="checkbox"]:hover {
    background-color: #817D92;
}

input[type="checkbox"]:checked {
    background-color: #A4FFAF;
}
input[type="checkbox"]:checked::after{
    display: block;
}

button {
    width: 100%;
    padding: 16px;
    font-family: inherit;
    background-color: #A4FFAF;
    border: 2px solid #A4FFAF; ;
    color: #24232C;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #24232C;
    border: 2px solid #A4FFAF;;
    color: #A4FFAF;
    .fa-arrow-right {
        color: #A4FFAF ;
    }
}

.bars {
    display: flex;
    gap: 5px;
}
.bar {
    border: 2px solid white;
    width: 7px;
    height: 22px;
}

.strength-wrapper {
    display: flex;
    background-color: #18171F;
    padding: 18px 25px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 700;
}
.strength {
    text-transform: uppercase;
}
.meter {
    display: flex;
    align-items: center;
    gap: 15px;
}
.tag {
    color: #817D92;
}
.strength-wrapper div {
    margin-left: auto;
}
.strength-wrapper .strength {
    margin-left: auto;
}
.fa-arrow-right {
    color: #24232C;
}


@media only screen and (min-width: 600px) {
    main {
        width: 540px;
        height: 600px;
    }
    
    .display-password {
        padding: 25px;
    }
    form {
        padding: 25px;
    }
}



