<main>
  <div class="container">
    <h1>Password Generator</h1>
    <div class="display-password">885555521</div>
    <form action="">
      <div>
        <label for=""></label>
        <div>10</div>
      </div>
      <input type="range">
      <div class="uppercase">
        <input type="checkbox">
        <label for=""></label>
      </div>
      <div class="uppercase">
        <input type="checkbox">
        <label for=""></label>
      </div>
      <div class="uppercase">
        <input type="checkbox">
        <label for=""></label>
      </div>
      <div class="uppercase">
        <input type="checkbox">
        <label for=""></label>
      </div>
      <div class="strength">
        <p class="strength"></p>
        <p>Medium</p>
        <div>Bars</div>
      </div>
      <button>Generate </button>
      
    </form>
  </div>
</main>